.App {
  text-align: center;
  background-color: #333;
  min-height: 100vh;
  height: 100%;
  color: #eee;
  padding: 0px;
  margin: 0px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.loginPage{
  background-color: #eee;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 25px;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
